torch>=2.7.1
torchaudio>=2.7.1
transformers>=4.55.4
tokenizers>=0.21.4
sentencepiece>=0.2.0
pyarrow
accelerate>=1.10.1
pydantic_core
numpy
scikit-learn
requests
httpx
uvicorn
fastapi
einops
timm
tiktoken
scipy
pandas
xformers
pillow
deepspeed>=0.17.5
trl>=0.22.2
moviepy
gradio
peft>=0.17.1